openwastetracelib/resources/catalogo.dtd

<?xml version='1.0' encoding='UTF-8' ?>
<!ELEMENT catalogo ( identificativo, versione, descrizione, records ) >
<!ELEMENT descrizione ( #PCDATA ) >
<!ELEMENT field ( nome, valore, tipo ) >
<!ELEMENT identificativo ( #PCDATA ) >
<!ELEMENT nome ( #PCDATA ) >
<!ELEMENT record ( field+ ) >
<!ELEMENT records ( record+ ) >
<!ELEMENT tipo ( #PCDATA ) >
<!ELEMENT valore ( #PCDATA ) >
<!ELEMENT versione ( #PCDATA ) >
